<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AngleTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF7521441EF1B93400C91AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7521581EF1B93400C91AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7521631EF1B93500C91AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
